
body{
    text-align: center;
    font-family: 'KoHo', sans-serif;
}

.elems{
    display: grid;
    grid-template-columns: 15em 15em;
    grid-template-rows: 2em 15em 15em 2em;
    grid-template-areas: "h1 h2"
                         "pos1 pos2"
                         "pos3 pos4"
                         "f1 f2";
    grid-gap: 2em;
    justify-content: center;
}

.elem1 {
    grid-area: pos1;
    background-color: rgb(124, 211, 175);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.elem2 {
    grid-area: pos2;
    background-color: rgba(228, 117, 117, 0.671);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.elem3 {
    grid-area: pos3;
    background-color:rgb(25, 176, 214);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.elem4 {
    grid-area: pos4;
    background-color: rgb(233, 165, 18);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

header{
    grid-row-start: h1;
    grid-row-end: h2;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    margin-top: 2em;
    font-size: 2em;
}


footer{
    grid-row-start: f1;
    grid-row-end: f2;
    display: flex;
    justify-content: center;
}
